body {
    background-color: #848FA5;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0D324D;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 15%;
    margin-left: 5%;
    margin-right: 0%;
    display: inline-block;
    color: #FBFBF2;
}

#navbar {
    display: inline-table;
    margin-right: 1%;
    margin-left: 42%;
    margin-bottom: 0px;
    width: 36%;
}

#navbar .link {
    color: #FBFBF2;
    background-color: #0D324D;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

#navbar a:hover {
    background-color: #848FA5;
    color: #0D324D;
}

#navbar button {
    margin-right: 0px;
    margin-left: auto;
}

#navbar .logo {
    width: 20px;
}

#navbar .logo:hover {
    background-color: #848FA5;
}

section {
    margin-top: 120px;
}

.test {
color:blue;
}

h2 {
    font-size: 20px;
    text-align: center;
}

#featured {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

img {
    max-width: 95%;
    align-self: center;
}